# OS
*.iml
.idea/
.gradle/
local.properties
.DS_Store
/build
/captures
/externalNativeBuild
.cxx

# Project
/app/build
/app/debug
/app/release

# Navigation Editor (Compose)
/app/src/main/res/navigation/

# Hilt generated
/app/src/main/kotlin/com/example/shopmanagement/di/HiltModules.kt  # اگر داشتی

# Logs
*.log
